<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    1、加载jdbc文件-->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
<!--    2、配置数据源对象-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

<!--    3、配置JdbcTemplate对象-->
    <bean id="JdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
<!--    配置AdminDao-->
    <bean id="adminDao" class="com.reviews_system.dao.impl.AdminDaoImpl">
        <property name="jdbcTemplate" ref="JdbcTemplate"></property>
    </bean>
<!--    配置UserDao-->
    <bean id="userDao" class="com.reviews_system.dao.impl.UserDaoImpl">
        <property name="jdbcTemplate" ref="JdbcTemplate"></property>
    </bean>
    <!--    配置categoryDao-->
    <bean id="categoryDao" class="com.reviews_system.dao.impl.CategoryDaoImpl">
        <property name="jdbcTemplate" ref="JdbcTemplate"></property>
    </bean>
    <!--    配置commentdao-->
    <bean id="commentDao" class="com.reviews_system.dao.impl.CommentDaoImpl">
        <property name="jdbcTemplate" ref="JdbcTemplate"></property>
        <property name="userDao" ref="userDao"></property>
    </bean>
<!--    配置orderdao-->
    <bean id="orderdao" class="com.reviews_system.dao.impl.OrderDaolmpl">
        <property name="jdbcTemplate" ref="JdbcTemplate"></property>
    </bean>
    <!--    UserInfoDao-->
    <bean id="userInfoDao" class="com.reviews_system.dao.impl.UserInfoDaoImpl">
        <property name="jdbcTemplate" ref="JdbcTemplate"></property>
    </bean>
    <!--    配置UserInfoService-->
    <bean id="UserInfoService" class="com.reviews_system.service.impl.UserInfoServiceImpl">
        <property name="userInfoDao" ref="userInfoDao"></property>
    </bean>
    <!--    配置orderdao-->
    <bean id="cinemaDao" class="com.reviews_system.dao.impl.CinemaDaoImpl">
        <property name="jdbcTemplate" ref="JdbcTemplate"></property>
    </bean>
    <!--    配置UserService-->
    <bean id="cinemaService" class="com.reviews_system.service.impl.CinemaServiceImpl">
        <property name="cinemaDao" ref="cinemaDao"></property>
    </bean>
    <!--    配置AdminService-->
    <bean id="adminService" class="com.reviews_system.service.impl.AdminServiceImpl">
        <property name="adminDao" ref="adminDao"></property>
    </bean>
<!--    配置UserService-->
    <bean id="userService" class="com.reviews_system.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
    <!--    配置CategoryService-->
    <bean id="CategoryService" class="com.reviews_system.service.impl.CategoryServiceImpl">
        <property name="categoryDao" ref="categoryDao"></property>
    </bean>
    <!--    配置commentService-->
    <bean id="commentService" class="com.reviews_system.service.impl.CommentServiceImpl">
        <property name="commentDao" ref="commentDao"></property>
        <property name="filmDao" ref="filmDao"></property>
    </bean>
    <!--    配置orderservice-->
    <bean id="orderService" class="com.reviews_system.service.impl.OrderServiceImpl">
        <property name="orderDao" ref="orderdao"></property>
    </bean>
<!--    配置PageDao-->
    <bean id="pageDao" class="com.reviews_system.dao.impl.PageDaoImpl">
        <property name="jdbcTemplate" ref="JdbcTemplate"></property>
    </bean>
<!--    配置PageService-->
    <bean id="pageService" class="com.reviews_system.service.impl.PageServiceImpl">
        <property name="pageDao" ref="pageDao"></property>
    </bean>

    <!--    配置FilmDao-->
    <bean id="filmDao" class="com.reviews_system.dao.impl.FilmDaoImpl">
        <property name="jdbcTemplate" ref="JdbcTemplate"></property>
    </bean>
    <!--    配置FilmService-->
    <bean id="filmService" class="com.reviews_system.service.impl.FilmServiceImpl">
        <property name="categoryDao" ref="categoryDao"></property>
        <property name="filmDao" ref="filmDao"></property>
    </bean>

</beans>